In [1]:
%load_ext autoreload
%autoreload 2
import ast
from structlog import get_logger
import pandas as pd
import numpy as np

In [2]:
datas = pd.DataFrame(np.random.randint(0, 10, size=(10, 2)), columns=[f'col_{n+1}' for n in range(2)])

In [3]:
logger = get_logger()

In [4]:
from equation_parser import *

In [5]:
rule = 'B100(col_1 - col_2) + col_2**2'

In [6]:
rule = 'delta(col_1)'

In [7]:
tree = from_string(rule)

2022-11-06 11:31.39 [debug    ] Start building                 func=build tree
2022-11-06 11:31.39 [debug    ] <ast.Call object at 0x00000228575BAF20> func=eval node
2022-11-06 11:31.39 [debug    ] Call(func=Name(id='delta', ctx=Load()), args=[Name(id='col_1', ctx=Load())], keywords=[]) func=eval Call
2022-11-06 11:31.39 [debug    ] <ast.Name object at 0x00000228575BAF80> func=eval node
2022-11-06 11:31.39 [debug    ] Name(id='col_1', ctx=Load())   func=eval name

In [8]:
tree

<UnaryNode>: delta
 |--<VariableNode>: col_1

In [9]:
datas

   col_1  col_2
0      2      9
1      6      7
2      0      2
3      6      7
4      8      6
5      5      8
6      5      7
7      8      5
8      8      4
9      2      1

In [10]:
tree.eval(datas, 0)

0    0
1    4
2   -2
3    4
4    6
5    3
6    3
7    6
8    6
9    0
Name: col_1, dtype: int32

In [17]:
tree.eval(datas, [0, 0, 2, 2, 4, 4, 6, 6, 8, 9])

0    0
1    4
2    0
3    6
4    0
5   -3
6    0
7    3
8    0
9    0
Name: col_1, dtype: int32

In [ ]:
rule = 'sin(col_1+1)'

In [ ]:
node = ast.parse(rule, '<string>', mode='eval')

In [ ]:
ast.dump(node)

In [ ]:
node.body.func.id